@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #09090b;
  --card: #f4f4f5;
  --card-foreground: #09090b;
  --popover: #ffffff;
  --popover-foreground: #09090b;
  --primary: #009966;
  --primary-foreground: #ffffff;
  --secondary: #f0f9ff;
  --secondary-foreground: #1f2937;
  --muted: #e4e4e7;
  --muted-foreground: #71717a;
  --accent: #009966;
  --accent-foreground: #ffffff;
  --destructive: #ef4444;
  --border: #e4e4e7;
  --input: #f4f4f5;
  --ring: #009966;
  --chart-1: #009966;
  --chart-2: #06b6d4;
  --chart-3: #8b5cf6;
  --chart-4: #ec4899;
  --chart-5: #14b8a6;
  --sidebar: #f4f4f5;
  --sidebar-foreground: #09090b;
  --sidebar-primary: #009966;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #009966;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #e4e4e7;
  --sidebar-ring: #009966;
}

.dark {
  --radius: 0.625rem;
  --background: #09090b;
  --foreground: #fafafa;
  --card: #18181b;
  --card-foreground: #fafafa;
  --popover: #27272a;
  --popover-foreground: #fafafa;
  --primary: #009966;
  --primary-foreground: #09090b;
  --secondary: #27272a;
  --secondary-foreground: #d4d4d8;
  --muted: #3f3f46;
  --muted-foreground: #a1a1aa;
  --accent: #009966;
  --accent-foreground: #ffffff;
  --destructive: #ff6b6b;
  --border: #27272a;
  --input: #27272a;
  --ring: #009966;
  --chart-1: #009966;
  --chart-2: #06b6d4;
  --chart-3: #a78bfa;
  --chart-4: #fb7185;
  --chart-5: #4ade80;
  --sidebar: #18181b;
  --sidebar-foreground: #fafafa;
  --sidebar-primary: #009966;
  --sidebar-primary-foreground: #09090b;
  --sidebar-accent: #009966;
  --sidebar-accent-foreground: #09090b;
  --sidebar-border: #27272a;
  --sidebar-ring: #009966;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .dark {
    color-scheme: dark;
  }

  /* body,
  body * {
    @apply transition-colors duration;
  } */

  .dark ::-webkit-scrollbar {
    @apply w-2;
  }

  .dark ::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  .dark ::-webkit-scrollbar-thumb {
    @apply bg-slate-700 rounded hover:bg-slate-600;
  }
}
